*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

/* ==== HEADER ==== */

header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

/* ==== SECTION ==== */

section{
    padding: 20px;
    background-image: url("../images/people.jpg");
    background-size: cover;
    overflow: hidden;
}


.formContainer{
    margin-top: 15px;
    background-color: #ffffffbb;
    max-width: 230px;
    padding: 20px;
    float: right;
}

.formContainer h2{
    font-size: 16px;
}

p{
    text-align: justify;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="button"]{
    background-color: #48C5CE;
    color: white;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

/* ==== FOOTER ==== */

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    display: inline-block;
    max-width: 40%;
    color: white;
    margin-left: 40px;
}

.description p,
.description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
    text-align: left;
}
